@font-face {
    font-family: heaters;
    src: url(Heaters.otf);
}

.tagline {
    font-family: heaters;
}

.witch {
    animation: float 3s linear infinite, slide 25s linear infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes slide {
    0% {
        left: calc(0% - 120px);
    }

    50% {
        left: calc(50% - 60px);
    }

    100% {
        left: 100%;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .witch {
        animation: float 3s linear infinite, slide 20s linear infinite;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
    .witch {
        animation: float 4s linear infinite, slide 15s linear infinite;
    }
}